*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  max-width: 1300px;
}
header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 8px;
}
.logo h1{
  font-weight: bold;
  font-size: 30px;
}
.navbar{
  display: flex;
  justify-content:center;
  align-items: center;

}

.navbar-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  margin: 0 20px;
   color: #272525;
   font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
.navbar ul li a.active {
 text-decoration: underline;

}
.loginbutton{
   font-weight: bold;
   color:rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 14px;
  background-color: #9a5018;
  padding: 10px 18px;
  border-radius: 14px;
}
/* mainsection code */
.mainsection{
  padding: 20px 0px;
  margin-top: 12px;
}
.mainparent{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.main-content{
  width: 100%;
  text-align: left;

}
.mainheading h1{
  font-weight: 600;
   text-transform: uppercase;
   font-size: 40px;
   
}
.main-img{
  width: 50%;
}
.mainpara{
  font-weight: 400;
  font-size: 18px;
  color: #282727;
 
}
.button{
  background-color: #813B06;
  border-radius: 10px;
  padding: 10px 12px;
  font-weight: bold;
  color: rgb(255, 255, 255);
 margin-top: 30px;
}
.main2{
  background-color: #9a5018;
}
.main2content{
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 13px 0px;
   font-size: 30px;
}
 .about {
  margin-top: 2rem;
}
.abouth1 h1 {
  font-size: 34px;
  font-weight: bold;
    color: #262323;
  margin-bottom: 1rem;
  border-bottom: 3px solid #813B06;
  display: inline-block;
}
.aboutcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
}

.about-text p {
  font-size: 20px;
  color: #262323;
  line-height: 1.9;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}
.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.main3{
  background-color: #9a5018;
  margin: 35px 0px;
}
.main3content{
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 13px 0px;
   font-size: 35px;
}

/* Responsive */
@media (max-width: 768px) {
  .aboutcontent {
    flex-direction: column;
  }

  .about-text,
  .about-image {
    width: 100%;
    text-align: center;
  }
  .about-text p {
    font-size: 18px;
  }
   .card {
    width: 100%;
  }
}
.differntmain{
  padding-top: 25px;
}
.different {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  /* padding: 2rem 1rem; */
}

.card {
  background-color: #cb8e5fda;
  width: 400px;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #312f2f;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 160px;
  object-fit: contain;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.card p {
  font-size: 16px;
  font-weight: 500;
  color: #353232;
  line-height: 1.7;
  text-align: left;
}
/* footer */
.foot{
  background-color: #9a5018;
  margin-top: 40px;
}
.foot1{
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 13px 0px;
   font-size: 35px;
}
.foot2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer{
    padding: 20px;
}

.contact, .links {
  /* flex: 1; */
  min-width: 250px;
  margin: 10px;
}

.contact h1,
.links h1 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact p,
.links p {
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.social-icon {
  font-size: 25px;
  color: #000;
  cursor: pointer;
}
.reserved{
  text-align: center;
  font-weight: bold;
  padding: 9px 0px;
  background-color: #9a5018;
  font-size: 18px;
}